#que{
color:red;
}

#quediv{
background-color:#660000;
width:300px;
height:200px;	
position:absolute;
top:100px;
left:100px;
}
	
.image{
width:350px;
height:200px;	
position:absolute;
top:200px;
left:400px;
	
}


#uni{
height:400px;
width:400px;
position:absolute;
background-color:blue;
color:white;	
right:600px;
top:100px;
	
}