body{
background-image:url("assets/2278-light-color-low-poly-background-clip-art.jpg");
background-repeat:no-repeat;
background-size:cover;
}

.col1{ 
position:absolute;
top:130px;
left:490px;
font-size:60px;
}

.head{
position:absolute;
left:300px;	
}

.main1{
color:red;
background-color:#fefecd;
position:absolute;
top:400px;
left:660px;
height:80px;
width:150px;
font-size:30px;
}
.main2{
color:green;
background-color:#fefecd;
position:absolute;
top:400px;
left:480px;
height:80px;
width:150px;
font-size:30px;
}
